API_ENABLED=false

ROBONOMICS_WS=wss://kusama.rpc.robonomics.network
ROBONOMICS_STATE_KEY=kusama_robonomics
ROBONOMICS_START_BLOCK=latest # Используется только при первом запуске. Номер блока или `latest` (текущий блок чейна). По умолчанию `latest`
ROBONOMICS_START_BLOCK_FORCE=false # Принудительно начать с ROBONOMICS_START_BLOCK, игнорируя сохранённый в БД блок. По умолчанию false. Не забудьте выключить после запуска

INDEXER_ENABLED=true
ENABLED_HANDLERS=datalog-new-record

IPFS_GATEWAYS=https://plum-relevant-hamster-134.mypinata.cloud/ipfs/,https://ipfs.url.today/ipfs/
IPFS_FETCH_TIMEOUT=30000
IPFS_MAX_RESPONSE_BYTES=10485760
IPFS_POLL_INTERVAL=10000

IPFS_DIR_SENDER=4E8yYbvT6qnYcvYbWRptXUaZ5LhZQ1jpojjNJUJCVGxaY2GQ

MEASUREMENT_ENABLED=true
GEOCODING_ENABLED=true

CPS_ENABLED=false
#CPS_NODE_IDS=0
CPS_BATCH_WIRE_FORMAT=xz
