API_ENABLED=false

ROBONOMICS_WS=wss://kusama.rpc.robonomics.network
ROBONOMICS_STATE_KEY=kusama_robonomics
ROBONOMICS_START_BLOCK=10358786 # Используется только при первом запуске

INDEXER_ENABLED=true
ENABLED_HANDLERS=datalog-new-record

IPFS_GATEWAYS=https://plum-relevant-hamster-134.mypinata.cloud/ipfs/,https://ipfs.url.today/ipfs/
IPFS_FETCH_TIMEOUT=30000
IPFS_POLL_INTERVAL=10000

IPFS_DIR_SENDER=4E8yYbvT6qnYcvYbWRptXUaZ5LhZQ1jpojjNJUJCVGxaY2GQ

MEASUREMENT_ENABLED=true
GEOCODING_ENABLED=true
