API_ENABLED=false

ROBONOMICS_WS=wss://polkadot.rpc.robonomics.network
ROBONOMICS_STATE_KEY=polkadot_robonomics
ROBONOMICS_START_BLOCK=3491478 # Используется только при первом запуске

INDEXER_ENABLED=true
ENABLED_HANDLERS=rws-extrinsic,rws-story

MEASUREMENT_ENABLED=false
GEOCODING_ENABLED=false
